@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to Service-to-Service Calls Example page</h2>
    <p> Please click <strong>Procurement</strong> link on the top page to start testing</p>
    <p>Learn more about visit <a href="https://learn.microsoft.com/aspnet/core">tutorial section</a> .</p>
</div>
